.about-me{
    margin-top: 3rem;
}





.about-img{
    width: 430px;
    height: 438px;
}
.img-body{
    background:linear-gradient(
        to left,
        #2F3339,
        #15181C);
        border-radius: 20px;
  
}